<div style="margin-top: 5%; padding-right:3%; padding-left:3%;">
  <div class="columns is-offset-1 is-11 is-centered ">
    <app-stat-panel></app-stat-panel>
  </div>
  <div>
    <section class="section columns">
      <div class="column is-one-fourth-desktop is-full-mobile">
        <app-expiredate-window></app-expiredate-window>
      </div>

      <div class="is-one-fourth-desktop column is-full-mobile">
        <app-outofstock-window></app-outofstock-window>
      </div>
    </section>
    <section class="section columns ">
      
      <div class="column is-one-third-desktop is-full-mobile" style="margin-top: -6%;">
        <app-salesdetails-window></app-salesdetails-window>
      </div>

    </section>
  </div>



</div>
